
body {
    background-color: #363636;
    color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

h1 {
    align-self: center;
}
.game {
    display: flex;
    justify-content: space-around;
    visibility: hidden;
}
.active-player {
    width: 118px;
    font-size: 1.5em;
    align-self: center;
}
.score {
    width: 118px;
}
.board-game {
    width: 390px;
    height: 390px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

/* adds border to specific divs to show a tic-tac-toe grid */
.line1.column2.game-on, .line3.column2.game-on{
    border-left: 3px solid #dcdcdc;
    border-right: 3px solid #dcdcdc;
}
.line2.column1.game-on, .line2.column3.game-on {
    border-top: 3px solid #dcdcdc;
    border-bottom: 3px solid #dcdcdc;
}
.line2.column2.game-on {
    border: 3px solid #dcdcdc;
}


/* position the element inside each div on the board*/
.board-game div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.marker{
    font-size: 3em;
}
button {
    align-self: center;
    padding: 1em 3em; /* top&bottom left&right */
    margin-top: 4em;
    border-radius: 5px;
}

dialog {
    text-align: center;
    border-radius: 10px;
}
dialog > p {
    font-size: 1.5em;
}
#gameResult > p {
    font-size: 2em;
}
/** References
https://cssgridgarden.com/
https://codepip.com/games/flexbox-froggy/
https://www.w3schools.com/css/css3_borders.asp
/